<!DOCTYPE html>
<html>

{% extends "common_template.html" %}

<body>
    <style>
        body {
            font-size: 6mm;
        }
    </style>

    {% block content %}
        <hr>
        <h1 style="margin-left: 3mm;">Main Page</h1>
        <hr>
        <title>Main</title>
        <title>Main Page</title>
        <br>
        <h1> Torneos de Yu-Gi-Oh: ¡Duelos Épicos en Cada Carta en la Universidad de la Habana! </h1>

        <h2> ¡Bienvenido al Portal de Duelistas Intrépidos! </h2>

        En la majestuosa Universidad de la Habana, donde los muros resuenan con los ecos de antiguos hechizos y las aulas vibran con la 
        energía de las cartas, te damos la bienvenida al epicentro de los duelos más intensos. Aquí, los corazones de los duelistas laten 
        al ritmo de las estrategias más audaces y las criaturas mágicas cobran vida en cada movimiento.

        <h2> Descubre el Poder de las Cartas </h2>

        En este sagrado recinto, los mazos se convierten en armas legendarias. Desde los dragones ancestrales hasta los magos encapuchados, 
        cada carta es un portal hacia un mundo de posibilidades. ¿Serás capaz de invocar al temible Dragón Blanco de Ojos Azules o desplegar 
        la astucia del Mago Oscuro? ¡Aquí, todo es posible!

        <h2> Registra tus Torneos Épicos </h2>

        ¿Eres un maestro de las estrategias o un novato ansioso por aprender? No importa, porque en nuestra plataforma podrás registrar tus torneos 
        y medirte con los mejores. Desafía a tus rivales, forja alianzas inquebrantables y asciende en las clasificaciones. 
        ¿Quién sabe? Tal vez seas el próximo Rey de los Duelos.

        <h2> Explora los Secretos Antiguos </h2>

        La biblioteca de la Universidad alberga pergaminos olvidados y grimorios ancestrales. 
        Aquí, los sabios comparten sus conocimientos sobre las artes arcanas y los misterios de las cartas. ¿Qué secretos descubrirás? 
        ¿Qué tesoros ocultos aguardan en las páginas amarillentas? Adéntrate en la sabiduría de los duelos y desvela los enigmas que han perdurado por siglos.

        <h2> Prepárate para la Batalla Definitiva </h2>

        En la arena, los duelos se libran con pasión y determinación. Las luces parpadean, los espectadores contienen el aliento y 
        tú sostienes tu mazo con firmeza. ¿Serás el campeón que desafíe a los dioses o el aprendiz que se alza desde las cenizas? La elección es tuya, 
        y la Universidad de la Habana es el escenario donde los héroes se forjan.

        ¡Adelante, duelistas! Que las cartas te guíen y los espíritus ancestrales te protejan. 
        ¡Que comiencen los duelos épicos en la Universidad de la Habana!
    {% endblock %}
</body>

</html>