{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <style>
      body{
       background-image: url("{% static 'background_card_arcv.png' %}");
       background-repeat: repeat;
     }
     .dd{
       font-size: 7mm;
       background-color: rgba(255, 255, 255, 0.425);
     }
   </style>
    <title>Registration</title>
  </head>
  <body>
    <img src="{% static 'pegasus.jpeg' %}" alt="pegasus" width="100" height="100">
    <div class="dd">
      <h2>Register</h2>
      <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label><br />
        <input type="text" id="username" name="username" placeholder="Enter your username" /><br />
        {% if form.username.errors %}
          <p style="color: red;">{{ form.username.errors }}</p>
        {% endif %}
        <label for="password">Password:</label><br />
        <input type="password" id="password" name="password" placeholder="Enter your password" /><br />
        {% if form.password.errors %}
          <p style="color: red;">{{ form.password.errors }}</p>
        {% endif %}
        <label for="confirm_password">Confirm Password:</label><br />
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Enter your password" /><br />
        {% if form.confirm_password.errors %}
          <p style="color: red;">{{ form.confirm_password.errors }}</p>
        {% endif %}
        <label for="second_last_name">Second Last Name:</label><br />
        <input type="text" id="second_last_name" name="second_last_name" placeholder="Enter your second last name" /><br />
        {% if form.second_last_name.errors %}
          <p style="color: red;">{{ form.second_last_name.errors }}</p>
        {% endif %}
        <label for="province">Province:</label><br />
        <input type="text" id="province" name="province" placeholder="Enter your province" /><br />
        {% if form.province.errors %}
          <p style="color: red;">{{ form.province.errors }}</p>
        {% endif %}
        <label for="municipality">Municipality:</label><br />
        <input type="text" id="municipality" name="municipality" placeholder="Enter your municipality" /><br />
        {% if form.municipality.errors %}
          <p style="color: red;">{{ form.municipality.errors }}</p>
        {% endif %}
        <label for="phone">Phone:</label><br />
        <input type="text" id="phone" name="phone" placeholder="Enter your phone number" /><br />
        {% if form.phone.errors %}
          <p style="color: red;">{{ form.phone.errors }}</p>
        {% endif %}
        <label for="address">Address:</label><br />
        <input type="text" id="address" name="address" placeholder="Enter your address" /><br />
        {% if form.address.errors %}
          <p style="color: red;">{{ form.address.errors }}</p>
        {% endif %}

        <button type="submit" name="register">Register</button>
        <button type="submit" name="login">Go To Login</button>
      </form>
      {% if error %}
        <p style="color: red;">{{ error }}</p>
      {% endif %}
      {% if message %}
        <p style="color: #90ee90;">{{ message }}</p>
      {% endif %}
    </div>
    
  </body>
</html>

